<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
        <div class="container">
            <!-- <div class="row mt-5"> -->
            <% var x=0 ; %>
                <% for ( let key in value ) { %>
                    <% if ( x%2==0 ) { %>
                        <div class="row mt-5">
                            <% } %>
                                <div class="col">
                                    <img class="img-fluid img-edit" src="<%= value[key].img %>" alt="<%= value[key].name %>">
                                </div>

                                <div class="form-detail text-left" style="width: 120px;">
                                    <label class="product-detail_2" for="Name">
                                        <%= value[key].name %>
                                    </label> <br>

                                    <label class="product-detail_2" for="Price">ราคา <%= value[key].price %> บาท</label>
                                    <br>

                                    <% if ( value[key].amount == 0 ) { %>
                                        <p style="color: red; ">
                                            <b>จำนวนคงเหลือ <%= value[key].amount %> ชิ้น</b> 
                                        </p> 
                                    <% } else { %>
                                            <p style="color: black;">
                                                จำนวนคงเหลือ <%= value[key].amount %> ชิ้น
                                            </p>
                                        <% } %> 

                                        <form action="/edit/photosubmit" method="POST" enctype="multipart/form-data">
                                            <!-- <button style='margin-top: 10px; font-size:14px; color:gray' 
                                                onclick="document.getElementById('inpFile').click(); return false;">
                                                แก้ไขรูป1 <i class='fas fa-edit'></i></button> -->
                                            <input type="text" name="snackname" id="" style="display: none;" value="<%= value[key].name %>">
                                            <input type="text" name="id" id="" style="display: none;" value="<%= value[key].id %>">

                                            <button style='margin-top: 10px; font-size:14px; color:gray'
                                            onclick="document.getElementById('snack-img<%= x %>').click(); return false;">
                                            <i class='fas fa-image'> แก้ไขรูปภาพ </i></button>

                                            <input type="file" name="image" id="snack-img<%= x %>" style="display: none;">
                                            
                                            <button type="submit" class="btn btn-primary mt-1">ส่ง</button>
                                        </form>
                                        <!-- <input type="file" name="Image" id="snack-img" type="submit"> -->
                                </div>

                                <div class="col">
                                    <button type="button" class="btn btn-info" data-toggle="collapse"
                                        data-target="#demo<%= x %> ">แก้ไขข้อมูล</button>
                                    <div id="demo<%= x %>" class="collapse">
                                        <div class="mt-1 p-1"
                                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                                            <form action="/edit/submit" method="post">
                                                <label for="" class="d-none">ID:</label>
                                                <input type="text" name="ID" id="" value="<%= value[key].id %>"
                                                    class="d-none">

                                                <br>
                                                <label for="">ชื่อ:</label>
                                                <input style="width: 150px;" type="text" name="fname"
                                                    placeholder="ชื่อขนม" value="<%= value[key].name %>" required>
                                                <br>

                                                <label for="">ราคา:</label>
                                                <input type="number" id="" name="price" min="1" max="50"
                                                    value="<%= value[key].price %>"> บาท <br>

                                                <label for="">จำนวน:</label>
                                                <input type="number" id="" name="amount" min="0" max="9"
                                                    value="<%= value[key].amount %>"> ชิ้น <br>

                                                <button style='margin-top: 5px; font-size:14px; color:red'
                                                    type="submit"> บันทึก <i class='fas fa-save'></i></button>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <% if ( x%2 !=0 ) { %>
                        </div>

                        <% } %>

                            <% x=x + 1 ; %>
                                <% } %>
                                    <!-- </div> -->
        </div>

        <br><br><br>

        <div class="container">

            <h1>Image Preview on File Upload</h1>
            <div class="row">

                <div class="col">

                    <div class="image-preview" id="imagePreview">
                        <img src="" alt="Image Preview" class="image-preview__image">
                        <span class="image-preview__default-text">image Preview</span>
                    </div>

                </div>

                <div class="form-detail text-left" style="width: 120px;">

                    <label class="product-detail_2" for="Name">
                        <%= value.s1.name %>
                    </label> <br>

                    <label class="product-detail_2" for="Price">ราคา <%= value.s1.price %> บาท</label>
                    <br>
                    จำนวนคงเหลือ <%= value.s1.amount %> ชิ้น <br>
                        <button style='margin-top: 10px; font-size:14px; color:gray'
                            onclick="document.getElementById('inpFile').click(); return false;"> แก้ไขรูป1 <i
                                class='fas fa-edit'></i></button>
                        <input type="file" name="inpFile" id="inpFile" style="display: none;">

                </div>

                <div class="col">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo33 ">แก้ไขข้อมูล</button>
                    <div id="demo33" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น
                            <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

                <div class="col">

                    <div class="image-preview1" id="imagePreview1">
                        <img src="" alt="Image Preview" class="image-preview__image">
                        <span class="image-preview__default-text">image Preview</span>
                    </div>

                </div>

                <div class="form-detail text-left" style="width: 120px;">

                    <label class="product-detail_2" for="Name">
                        <%= value.s1.name %>
                    </label> <br>

                    <label class="product-detail_2" for="Price">ราคา <%= value.s1.price %> บาท</label>
                    <br>
                    จำนวนคงเหลือ <%= value.s1.amount %> ชิ้น <br>
                        <button style='margin-top: 10px; font-size:14px; color:gray'
                            onclick="document.getElementById('inpFile1').click(); return false;"> แก้ไขรูป2 <i
                                class='fas fa-edit'></i></button>
                        <input type="file" name="inpFile1" id="inpFile1" style="display: none;">

                </div>

                <div class="col">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo33 ">แก้ไขข้อมูล</button>
                    <div id="demo33" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น
                            <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

            </div>



            <script>
                const inpFile = document.getElementById("inpFile");
                const previewContainer = document.getElementById("imagePreview");
                const previewImage = previewContainer.querySelector(".image-preview__image");
                const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");

                inpFile.addEventListener("change", function () {
                    const file = this.files[0];

                    if (file) {
                        const reader = new FileReader();

                        previewDefaultText.style.display = "none";
                        previewImage.style.display = "block";

                        imagePreview.style.border = "none";

                        reader.addEventListener("load", function () {
                            console.log(this);
                            previewImage.setAttribute("src", this.result);
                        });

                        reader.readAsDataURL(file);
                    } else {
                        previewDefaultText.style.display = null;
                        previewImage.style.display = null;
                    }
                });
            </script>

        </div>

        <!-- <div class="container">
            <div class="row mt-5">

                <div class="col-2">
                    <img class="img-fluid img-edit" src="assets/img/snack/Lay Miengkam.png" alt="">
                </div>

                <div class="form-detail text-left" style="width: 110px;">
                    <label class="product-detail_2" for="Name">เลย์รสเมี่ยงคำครบรส</label> <br>

                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ ชิ้น <br>
                    <button style='margin-top: 10px; font-size:14px; color:gray'> แก้ไขรูป <i
                            class='fas fa-save'></i></button>
                </div>

                <div class="col-3">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo1">แก้ไขข้อมูล</button>
                    <div id="demo1" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <img class="img-fluid img-edit" src="assets/img/snack/Chicken Grill.png" alt="">
                </div>

                <div class="form-detail text-left" style="width: 110px;">
                    <label class="product-detail_2" for="Name">ไก่ย่าง</label> <br>

                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ ชิ้น <br>
                    <button style='margin-top: 10px; font-size:14px; color:gray'> แก้ไขรูป <i
                            class='fas fa-save'></i></button>
                </div>

                <div class="sm-col-3">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo2">แก้ไขข้อมูล</button>
                    <div id="demo2" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-5">

                <div class="col-2">
                    <img class="img-fluid img-edit" src="assets/img/snack/Tawan.png" alt="">
                </div>

                <div class="form-detail text-left" style="width: 110px;">
                    <label class="product-detail_2" for="Name">ตะวัน</label> <br>

                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ ชิ้น <br>
                    <button style='margin-top: 10px; font-size:14px; color:gray'> แก้ไขรูป <i
                            class='fas fa-save'></i></button>
                </div>

                <div class="col-3">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo3">แก้ไขข้อมูล</button>
                    <div id="demo3" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <img class="img-fluid img-edit" src="assets/img/snack/Hanami.png" alt="">
                </div>

                <div class="form-detail text-left" style="width: 110px;">
                    <label class="product-detail_2" for="Name">ฮานามิ</label> <br>

                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ ชิ้น <br>
                    <button style='margin-top: 10px; font-size:14px; color:gray'> แก้ไขรูป <i
                            class='fas fa-save'></i></button>
                </div>

                <div class="sm-col-3">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo4">แก้ไขข้อมูล</button>
                    <div id="demo4" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-5">

                <div class="col-2">
                    <img class="img-fluid img-edit" src="assets/img/snack/Potae.png" alt="">
                </div>

                <div class="form-detail text-left" style="width: 110px;">
                    <label class="product-detail_2" for="Name">โปเต้</label> <br>

                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ ชิ้น <br>
                    <button style='margin-top: 10px; font-size:14px; color:gray'> แก้ไขรูป <i
                            class='fas fa-save'></i></button>
                </div>

                <div class="col-3">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo5">แก้ไขข้อมูล</button>
                    <div id="demo5" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <img class="img-fluid img-edit" src="assets/img/snack/Roller Coaster.png" alt="">
                </div>

                <div class="form-detail text-left" style="width: 110px;">
                    <label class="product-detail_2" for="Name">โรลเลอร์ โคสเตอร์</label> <br>

                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ ชิ้น <br>
                    <button style='margin-top: 10px; font-size:14px; color:gray'> แก้ไขรูป <i
                            class='fas fa-save'></i></button>
                </div>

                <div class="sm-col-3">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo6">แก้ไขข้อมูล</button>
                    <div id="demo6" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-5">

                <div class="col-2">
                    <img class="img-fluid img-edit" src="assets/img/snack/Sun Bits.png" alt="">
                </div>

                <div class="form-detail text-left" style="width: 110px;">
                    <label class="product-detail_2" for="Name">ซันไบทส์</label> <br>

                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ ชิ้น <br>
                    <button style='margin-top: 10px; font-size:14px; color:gray'> แก้ไขรูป <i
                            class='fas fa-save'></i></button>
                </div>

                <div class="col-3">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo7">แก้ไขข้อมูล</button>
                    <div id="demo7" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <img class="img-fluid img-edit" src="assets/img/snack/Twisco.png" alt="">
                </div>

                <div class="form-detail text-left" style="width: 110px;">
                    <label class="product-detail_2" for="Name">ทวิสโก้</label> <br>

                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ ชิ้น <br>
                    <button style='margin-top: 10px; font-size:14px; color:gray'> แก้ไขรูป <i
                            class='fas fa-save'></i></button>
                </div>

                <div class="sm-col-3">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo8">แก้ไขข้อมูล</button>
                    <div id="demo8" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-5">

                <div class="col-2">
                    <img class="img-fluid img-edit" src="assets/img/snack/Cornae.png" alt="">
                </div>

                <div class="form-detail text-left" style="width: 110px;">
                    <label class="product-detail_2" for="Name">คอนเน่</label> <br>

                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ ชิ้น <br>
                    <button style='margin-top: 10px; font-size:14px; color:gray'> แก้ไขรูป <i
                            class='fas fa-save'></i></button>
                </div>

                <div class="col-3">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo9">แก้ไขข้อมูล</button>
                    <div id="demo9" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <img class="img-fluid img-edit" src="assets/img/snack/Party.png" alt="">
                </div>

                <div class="form-detail text-left" style="width: 110px;">
                    <label class="product-detail_2" for="Name">ปาตี้</label> <br>

                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ ชิ้น <br>
                    <button style='margin-top: 10px; font-size:14px; color:gray'> แก้ไขรูป <i
                            class='fas fa-save'></i></button>
                </div>

                <div class="sm-col-3">
                    <button type="button" class="btn btn-info" data-toggle="collapse"
                        data-target="#demo10">แก้ไขข้อมูล</button>
                    <div id="demo10" class="collapse">
                        <div class="mt-1 p-1"
                            style="border: 3px solid #ac8d70; background-color: white; border-radius: 5px; color: dimgrey; width: 200px;">

                            <label for="">ชื่อ:</label>
                            <input style="width: 150px;" type="text" id="fname" name="fname" placeholder="ขนม"><br>

                            <label for="">ราคา:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> บาท <br>

                            <label for="">จำนวน:</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"> ชิ้น <br>

                            <button style='margin-top: 5px; font-size:14px; color:red'> บันทึก <i
                                    class='fas fa-save'></i></button>
                        </div>
                    </div>
                </div>

            </div>

        </div> -->

</body>

</html>