<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    
        <div class="top">
            <!--  -->
        </div>

        <!-- Row1's Products -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Lay Miengkam.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Chicken Grill.png"
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Tawan.png"
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Hanami.png"
                        alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Potae.png"
                        alt="">
                </div>
            </div>
            <div class="col-1">

            </div>
        </div>

        <!-- Buttons minus and plus in input -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            
            <div class="col-2">

                <div class="form-detail text-center">
                    <label class="product-detail" for="Name"><%= value.s0.name %></label> <br>
                    <label class="product-detail_2" for="Price">ราคา <%= value.s0.price %> บาท</label> <br>
                    จำนวนคงเหลือ <%= value.s0.amount %> ชิ้น
                </div>                
                
            </div>
            
            <div class="col-2">

                <div class="form-detail text-center">
                    <label class="product-detail" for="Name">ไก่ย่าง</label> <br>
                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ <%= value.s1.amount %> ชิ้น
                </div>                
                
            </div>
            
            <div class="col-2">

                <div class="form-detail text-center">
                    <label class="product-detail" for="Name">ตะวัน</label> <br>
                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ <%= value.s3.amount %> ชิ้น
                </div>                
                
            </div>

            <div class="col-2">

                <div class="form-detail text-center">
                    <label class="product-detail" for="Name">ฮานามิ</label> <br>
                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ <%= value.s4.amount %> ชิ้น
                </div>                
                
            </div>

            <div class="col-2">

                <div class="form-detail text-center">
                    <label class="product-detail" for="Name">โปเต้</label> <br>
                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ <%= value.s5.amount %> ชิ้น
                </div>                
                
            </div>

            <div class="col-1">

            </div>
        </div>

        </div>
        <!-- Row2's Products -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Roller Coaster.png"
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Sun Bits.png"Sun Bits
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Twisco.png"Sun Bits
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Cornae.png"Sun Bits
                        alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Party.png"Sun Bits
                        alt="">
                </div>
            </div>
            <div class="col-1">

            </div>
        </div>

        <!-- Buttons minus and plus in input -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            
            <div class="col-2">

                <div class="form-detail text-center">
                    <label class="product-detail" for="Name">โรลเลอร์ โคสเตอร์</label> <br>
                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ <%= value.s6.amount %> ชิ้น
                </div>                
                
            </div>
            
            <div class="col-2">

                <div class="form-detail text-center">
                    <label class="product-detail" for="Name">ซันไบทส์</label> <br>
                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ <%= value.s7.amount %> ชิ้น
                </div>                
                
            </div>
            
            <div class="col-2">

                <div class="form-detail text-center">
                    <label class="product-detail" for="Name">ทวิสโก้</label> <br>
                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ <%= value.s8.amount %> ชิ้น
                </div>                
                
            </div>

            <div class="col-2">

                <div class="form-detail text-center">
                    <label class="product-detail" for="Name">คอนเน่</label> <br>
                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ <%= value.s9.amount %> ชิ้น
                </div>                
                
            </div>

            <div class="col-2">

                <div class="form-detail text-center">
                    <label class="product-detail" for="Name">ปาตี้</label> <br>
                    <label class="product-detail_2" for="Price">ราคา 5 บาท</label> <br>
                    จำนวนคงเหลือ <%= value.s9.amount %> ชิ้น
                </div>                
                
            </div>

            <div class="col-1">

            </div>
        </div>
</body>

</html>