<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>

        <div class="top">
        </div>

        <div class="contain-fluid">
            <div class="row mt-5">
                <div class="col-1">
                </div>
                <% var x=0 ; %>
                    <% for ( let key in value ) { %>

                        <div class="col-2">
                            <div class="Box middle">
                                <img class="img-fluid" src="<%= value[key].img %>" alt="">
                            </div>
                        </div>

                        <% if ( x==4 ) { %>
                            <% break; %>
                                <% } %>

                                    <% x=x + 1 ; %>
                                        <% } %>
                                            <div class="col-1">
                                            </div>
            </div>

            <!--  -->
            <div class="row mt-5">
                <div class="col-1">
                </div>
                <% var x=0 ; %>
                    <% for ( let key in value ) { %>

                        <div class="col-2">

                            <div class="form-detail text-center">
                                <label class="product-detail" for="Name">
                                    <%= value[key].name %>
                                </label> <br>
                                <label class="product-detail_2" for="Price">ราคา <%= value[key].price %> บาท</label>
                                <br>
                                จำนวนคงเหลือ <%= value[key].amount %> ชิ้น
                            </div>

                        </div>

                        <% if ( x==4 ) { %>
                            <% break; %>
                                <% } %>

                                    <% x=x + 1 ; %>
                                        <% } %>
                                            <div class="col-1">
                                            </div>
            </div>

            <!--  -->
            <div class="row mt-5">
                <div class="col-1">
                </div>
                <% var x=0 ; %>
                    <% for ( let key in value ) { %>

                        <% if ( x> 4 ) { %>
                            <div class="col-2">
                                <div class="Box middle">
                                    <img class="img-fluid" src="<%= value[key].img %> " alt="">
                                </div>
                            </div>
                            <% } %>

                                <% x=x + 1 ; %>
                                    <% } %>
                                        <div class="col-1">
                                        </div>
            </div>


            <div class="row mt-5">
                <div class="col-1">
                </div>
                <% var x=0 ; %>
                    <% for ( let key in value ) { %>

                        <% if ( x> 4 ) { %>
                            <div class="col-2">

                                <div class="form-detail text-center">
                                    <label class="product-detail" for="Name">
                                        <%= value[key].name %>
                                    </label> <br>
                                    <label class="product-detail_2" for="Price">ราคา <%= value[key].price %> บาท</label>
                                    <br>
                                    จำนวนคงเหลือ <%= value[key].amount %> ชิ้น
                                </div>

                            </div>
                            <% } %>

                                <% x=x + 1 ; %>
                                    <% } %>
                                        <div class="col-1">
                                        </div>
            </div>

        </div>

        <div class="bottom">
        </div>

</body>

</html>