<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs") %>

        
</head>

<body style="background-color: white;">
    <%- include ("../partials/nav.ejs") %>

        <div class="container">
            <h1 style="font-family: 'Abel', sans-serif;">Overview</h1>

            <!-- Graph -->
            <!-- <div id="linechart_material" style="width: 900px; height: 500px; "></div> -->

            <!-- Filter Data -->
            <button type="button" class="btn btn-danger mb-5" data-toggle="collapse" data-target="#RawData">ดูข้อมูลดิบ</button>
            <div id="RawData" class="row mb-5 pt-3 collapse border" style="background: #ebecf0;">

                <!-- Raw Data -->
                <div class="col-6">

                    <h4>Raw Data ข้อมูลดิบ</h4>

                    <!-- ข้อมูลของวันนี้ -->
                    Today:
                    <% var showThisDay = new Date().toString().split("G")[0]; %>
                    <%= showThisDay %>

                                <!--// ดูข้อมูลดิบของวันนี้ //-->
                                <!-- <br> Raw: -->
                                <%#= new Date(); %>
                                <!-- <br> -->

                    <hr><br><br>

                    <!-- ประกาศตัวแปร --> 
                    <% var soldSnackName = []; %> 
                    <% var today = new Date(); %> 
                    <% var soldSnackAmount = []; %>
                    <% var day = 0 %> 
                    <% var Summary = 0 %> 
                    <% var amountSold = 0 %> 

                    <!-- กำหนด 14 วัน -->
                        <% soldSnackAmount = ([
                            [1],
                            [2],
                            [3],
                            [4],
                            [5],
                            [6],
                            [7],
                            [8],
                            [9],
                            [10],
                            [11],
                            [12],
                            [13],
                            [14],
                        ]) %>

                    <!-- วนดูข้อมูลทั้งหมดในฐานข้อมูล --> 
                    <% for (let key in value.complete) { %> 
                        
                        <!-- สำหรับการแสดงวันที่ของข้อมูลนั้น ๆ --> 
                        <% var tempThatDay = new Date(value.complete[key].date);  %> 
                        <% var showThatDay = tempThatDay.toString().split("G")[0]; %> 
                        <%= showThatDay %> 
                        <br> 
        
                        <!-- คำนวณความนานของข้อมูลนั้น ๆ --> 
                        <% var difference = new Date(today.getTime() - tempThatDay.getTime()); %> 
                        <% var dY = difference.getUTCFullYear() - 1970 %> 
                        <% var dM = difference.getUTCMonth() %> 
                        <% var dD = difference.getUTCDate() - 1 %> 
                        Difference = Year <%= dY %> Month <%= dM %> Day <%= dD %> 
                        <br>
                        
                        <!-- กรองข้อมูลที่มีความนานไม่เกิน 14 วัน -->
                        <% if ( dY < 1 && dM < 1 && dD < 15 ) { %>

                            Show?: Yes!
                            <br><br>

                            <!-- วนดูข้อมูลออเดอร์ทั้งหมดของวัน -->
                            <% for ( let key_ in value.complete[key] ) { %>

                                <!-- เก็บค่าของ Object ทั้งหมดในแต่ละออเดอร์เพื่อนำไปใช้ -->
                                <% var tempObject = value.complete[key][key_] %>
                                
                                <!-- ถ้าออเดอร์มีค่าเป็น Object *ที่ไม่ใช่วันที่, ยอดรวมของออเดอร์ -->
                                <% if ( typeof tempObject === 'object' ) {%>

                                    <!-- รายละเอียดในออเดอร์ -->
                                    <% var tempName = value.complete[key][key_].name %>
                                    <% var tempAmount = value.complete[key][key_].amount %>
                                    <% var tempPrice = value.complete[key][key_].price %> 

                                        <!-- คำนวณราคารวมในรายการนั้น -->
                                    ซื้อ "<%= tempName %>" จำนวน <%= tempAmount %> ชิ้น ราคา <%= tempPrice %> บาท
                                    <br>

                                    ราคารวมในรายการนี้:
                                    <% var tempSummary = tempPrice * tempAmount %>
                                    <%= tempSummary %>
                                    <br>

                                    ราคารวมทั้งหมด:
                                    <% Summary += tempSummary %>
                                    <%= Summary %>
                                    (  
                                    <% amountSold += tempAmount %> 
                                    <%= amountSold %> ชิ้น) 
                                    <br>
                                    
                                    <!-- ถ้าในรายการชื่อขนมที่จะนำไปแสดงยังไม่มีอะไรเลย -->
                                    <% if (soldSnackName.length === 0) {%>

                                        <!-- Push ชื่อขนมไปในรายการ -->
                                        <% soldSnackName.push(tempName); %>

                                        <!-- วนสำหรับค่าเริ่มต้นของ 14 วัน -->
                                        <% for (i=0 ; i< 14 ; i++) {%>
                                            
                                            <!-- ถ้าตรงกับวันที่นั้น ๆ ให้ค่าตัวนั้นเท่ากับจำนวนที่ขายได้ในวันนั้น -->
                                            <% if (i == dD-1 ) {%>
                                                
                                                <!-- กำหนดค่าแรกของวันนั้น -->
                                                <% soldSnackAmount[dD-1][soldSnackName.length] = value.complete[key][key_].amount %>

                                                            <!-- เช็คว่ามาหรือไม่ -->
                                                            <%#= soldSnackAmount[dD-1] %> 

                                            <% } else { %>
                                                
                                                <!-- กำหนดค่าของวันอื่น ๆ -->
                                                <% soldSnackAmount[i][soldSnackName.length] = 0 %>

                                            <% } %> 
                                                
                                        <% } %> 

                                        <!-- <br>  -->
                                        <%#= soldSnackAmount[dD-1] %>
                                        <!-- <br> -->

                                        Action: เริ่มต้นบันทึกรายการเพื่อนำไปแสดงแล้ว! 
                                        <br><br>
                                        
                                    <% } else { %> <!-- ถ้ามีแล้ว -->

                                        <!-- ถ้าชื่อไม่ซ้ำ -->
                                        <% if (soldSnackName.indexOf(tempName) == -1) {%>

                                            <% soldSnackName.push(tempName); %>

                                            <% for (i=0 ; i< 14 ; i++) {%>
                                            
                                                <% if (i == dD-1 ) {%>

                                                    <% soldSnackAmount[dD-1][soldSnackName.length] = value.complete[key][key_].amount %>
                                            
                                                <% } else {%>
                                                
                                                    <% if (isNaN(soldSnackAmount[i][soldSnackName.length])) {%>
                                                    
                                                        <% soldSnackAmount[i][soldSnackName.length] = 0 %>

                                                    <% } else {%>
                                                        
                                                        <% soldSnackAmount[i][soldSnackName.length] += 0 %>

                                                    <% } %>

                                                <% } %> 

                                            <% } %> 
                                            
                                            <%#= soldSnackAmount[dD-1] %>

                                            Action: บันทึกรายการต่อแล้ว!
                                            <br><br>

                                        <% } else { %> <!-- ถ้าซ้ำ -->

                                                <% indexOfName = soldSnackName.indexOf(tempName)+1 %> 
                                                <% soldSnackAmount[dD-1][indexOfName] += value.complete[key][key_].amount %>

                                                <!-- <br> -->
                                                Action: เพิ่มจำนวนในรายการแล้ว!
                                                <br><br>

                                                <!-- หาวิธีเพิ่มจำนวนในรายการที่ซ้ำ -->

                                            <% } %>

                                    <% } %>

                                <% } %>

                            <% } %>

                            <br>

                        <% } else { %>

                            Show?: No...
                            <br><br>

                        <% } %>
                        
                        <hr>

                    <% } %>

                    <!-- แสดงชื่อขนมที่บันทึกเข้าในรายการที่นำไปแสดง -->
                    ขนมที่ขายได้: <%= soldSnackName %>
                    
                                <!-- ข้อมูลสำหรับพลอตกราฟ -->
                                <!-- <br><br>
                                ข้อมูลสำหรับพลอตกราฟ
                                <br> -->
                                <%# for ( i = 0 ; i < 14 ; i++ ) {%>
                                    
                                    <!-- [ <%#= soldSnackAmount[i] %> ] -->
                                    <!-- <br> -->

                                <%# } %>                                   
                    
                </div>

                <div class="col-2">

                    <h4>Information</h4>

                    <!-- ชื่อขนมที่บันทึกในรายการ -->
                    <% for (var i = 0 ; i < soldSnackName.length ; i++) { %>

                        <%= soldSnackName[i] %>
                        <br>
                        
                    <% } %> 

                </div>

                <div class="col-4">
                
                    <h6 class="mt-2 ml-2"> วันที่--> ขนมที่ขายได้ </h6>
                    
                    

                    <% for ( i = 0 ; i < 14 ; i++ ) {%>
                                    
                        [ <%= soldSnackAmount[i] %> ]
                        <br>

                    <% } %>
                    <br>
                    
                    <!-- ดูข้อมูลจำนวนขนมทั้งหมดของอันนั้น ๆ -->
                    <h6 class="mt-2 ml-2 pb-2"> [ขนม] ขายได้ในจำนวน </h6>
                    <% var result = soldSnackAmount.reduce(function (r, a) { %>

                        <% a.forEach(function (b, i) { %>

                            <% r[i] = (r[i] || 0) + b; %>
                            
                        <% }); %>

                        <% return r; %>

                    <% }, []); %>

                    <% var summaryAmountSold = [[]] %>

                    <% for ( i = 0 ; i < soldSnackName.length ; i++ ) {%>
                                    
                         <%= soldSnackName[i] %> 

                        <% if ( result[i] != ',' && !isNaN(result[i]) && result[i] != null ) { %>

                            <%# var tempResult = result[i] %> 
                            <% summaryAmountSold[i] = result[i] %> 

                        <% } else { %>
                        
                                <% summaryAmountSold[i] = 0 %>

                        <% } %>

                        <% var x = i+1 %>
                        <%= result[x]  %>
                            
                        <br>

                    <% } %>
                    <% result.shift()  %>
                    <%= result  %> 
                </div>

            </div>

            <div class="row">

                <!-- Graph JS -->
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    google.charts.load('current', { 'packages': ['line'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {

                        var data = new google.visualization.DataTable();
                        data.addColumn('number', 'วัน');
                        <% for (var i = 0 ; i < soldSnackName.length ; i++) { %>

                            data.addColumn('number', '<%= soldSnackName[i] %>');

                        <% } %>

                        data.addRows([
                            <% for ( var i = 0 ; i < 14 ; i++ ) {%>

                                 [ <%= soldSnackAmount[i] %> ],

                            <% } %>
                        ]);

                        var options = {
                            chart: {
                                        title: 'สรุปยอดขายใน 2 สัปดาห์',
                                        subtitle: 'บาท (Bath)'
                            },
                            width: 900,
                            height: 500,
                        };

                        var chart = new google.charts.Line(document.getElementById('linechart_material_'));

                        chart.draw(data, google.charts.Line.convertOptions(options));
                    }
                </script>

                <!-- คำสั่งแสดงกราฟ -->
                <div id="linechart_material_" style="width: 900px; height: 500px;"></div>

            </div>

            <!-- Detail -->
            <div class="row">

                <div class="col-6">
                    <div class="sum-head">
                        <h4>Total sales (ยอดขายทั้งหมด)</h4>
                    </div>
                    <div class="sum-data">

                        <%= Summary %> บาท

                    </div>
                </div>

                <div class="col-6">

                        <div class="sum-head">

                            <h4>Total amount of snacks sold (จำนวนขนมที่ขายได้ทั้งหมด)</h4>

                        </div>

                        <div class="sum-data">
                            
                            <%= amountSold  %> ชิ้น 

                        </div>

                </div>

            </div>

            <!-- Piechart -->
            <div class="row col-12 pt--5">

                <!-- Graph Detail -->
                <script type="text/javascript">
                    google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {

                        var data = google.visualization.arrayToDataTable([

                            ['Snack', 'Amonun sold'],

                            <%# for (let key in value.nowsnack) { %>

                                // ['<%#= value.nowsnack[key].name %>', <%#= value.nowsnack[key].amount %> ],

                                <% for ( i = 0 ; i < soldSnackName.length ; i++ ) {%>
                                    
                                    [

                                        '<%= soldSnackName[i] %>',

                                        <% var x = i+1 %>
                                        <%= result[i]  %>

                                    
                                    ],
            
                                <% } %>
                            
                            <%# } %>
                        
                        ]);

                        var options = {
                            title: 'ร้อยละของขนมที่ขายได้'
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                        chart.draw(data, options);
                    }
                </script>

                <!-- Graph Display -->
                <div class="middle" id="piechart" style="width: 900px; height: 500px;"></div>

            </div>

            <!-- Detail -->
            <div class="row">

                <div class="col-6">
                    <div class="sum-head">
                        <h4>Best selling snack (ขนมขายดี)</h4>
                    </div>
                    <div class="sum-data">

                        <% var bestSeller %>
                        <% var tempBestSeller = Math.max(...result) %> 
                        <% bestSeller = result.indexOf(tempBestSeller) %>
                        <%= soldSnackName[bestSeller] %>

                    </div>
                </div>

                <div class="col-6">

                    <div class="sum-head">
                        <h4>Bad selling snacks (ขนมที่ขายได้ไม่ดี)</h4>
                    </div>
                    <div class="sum-data">

                        <% var badSeller %>
                        <% var tempbadSeller = Math.min(...result) %> 
                        <% badSeller = result.indexOf(tempbadSeller) %>
                        <%= soldSnackName[badSeller] %>

                    </div>

                </div>

            </div>

            <div class="TesT">
                <%#= new Date().toJSON().slice(0,10).split('-2').join(',') %>
                    <%#= new Date().toISOString().slice(0,15).split('-2').join(',') %>
                            <br><br>
                            <%# var diff=Date.parse(new Date()); %>
                                <%# var s1=new Date().toISOString().slice(0,10).split('-2').join(',') %>
                                    <%# var s2=new Date().toISOString().slice(0,10).split('-2').join(',') %>
                                        <%# var date1=new Date(); %>
                                            <%# var date2=new Date("Tue Mar 16 2021 21:33:52"); %>

                                                <%# var s2=new Date().toJSON().slice(0,10).split('-').join(','); %>
                                                    <%#= date2 %>
                                                        <%# var diff=new Date(date1.getTime() - date2.getTime()); %>

                                                            <br><br><br>
                                                            <!-- Difference (Year) <%#= diff.getUTCFullYear() - 1970 %> <br>
                                                                Difference (month) <%#= diff.getUTCMonth() %>
                                                                    <br>
                                                                    Difference (day) <%#= diff.getUTCDate() - 1 %> -->
                <%= new Date().toString().split("G")[0]; %>


            </div>

        </div>
        <br><br><br><br>
</body>

</html>